.button-pr{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 2px 7px;
    background-color: white;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.button-pr:hover{
    border: 1px solid #ee9e26;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
    transition: all 0.2s ease-in-out;
}

.button-sec{
    font-size: 0.9rem;
    font-weight: 500;
    padding: 2px 7px;
    color: white;
    background-color: #ee9e26;
    border: 1px solid black;
    transition: all 0.2s ease-in-out;
}

.button-sec:hover{
    -webkit-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 11px -2px rgba(0,0,0,0.55);
}

@media screen and (max-width:760px){
    .button-pr{
        font-size: 0.7rem;
    }
    
    .button-sec{
        font-size: 0.9rem;
    }
}