.carrito{
    margin: 0px 0px;
    padding-right: 15px;
    font-size: 2rem;
    cursor: pointer;
}

@media screen and (max-width:760px){
    .carrito{
        margin: 0px 0px;
        padding-right: 15px;
        font-size: 1.8rem;
        cursor: pointer;
    }
}


