/* #ffaf26 */

.card-prod{
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.card-prod:hover{
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 9px 12px -4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 12px -4px rgba(0,0,0,0.35);
    box-shadow: 0px 9px 12px -4px rgba(0,0,0,0.35);
    cursor: pointer;
}

.img-prod{
    border-bottom: 1px solid rgba(194, 194, 194, 0.509);
}

.titulo-card{
    font-weight: 300;
    margin-top: 10px;
    
    color: rgba(50, 50, 50, 0.975);
}

a{
    text-decoration: none;
}


.descr-prod{
    font-size: 1rem;
    color: rgba(28, 28, 28, 0.906);
    font-weight: 500;
    height: 75px;
    
}

.categoria{
    color: black;
    background-color: rgba(171, 171, 171, 0.708);
    padding: 5px 5px;
    font-size: 0.9rem;
    display: inline;
}